// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.text-red {
  color: red;
  font-size: 50px;
  font-weight: bold;
}
